body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,a,table,img,strong {margin:0;padding:0;}
body {color:#D1CCD6;font-family:Arial,黑体;font-size:14px;}
ul,ol,li {list-style:none;}

img{border:none;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
a,input{outline:0;}

.ftbold{font-weight:bold;}
/*container*/
.container{width:990px;overflow:hidden;margin:0 auto;padding-top:54px;}
.container a{display:block;}
.con_left{width:489px;height:473px;}
.con_left_one{width:489px;height:311px;}
.con_left_one a{height:311px;}
.con_left_two{width:489px;height:149px;padding-top:13px;}
.con_left_two a{height:149px;}
.one_box,.three_box{width:155px;}
.two_box,.four_box{width:321px;}
.con_right{width:488px;height:473px;}
.con_rig_one{width:488px;height:148px;}
.con_rig_one a{height:148px;}
.con_rig_two{width:488px;height:312px;padding-top:13px;}
.seven_box{width:320px;height:312px;}
.seven_box a{width:320px;}

body {background:#C9C9C9;}

/*----resume----*/
.jianli{padding:0 50px;overflow:hidden;}
.jianli_txt{overflow:hidden;padding:20px;background:#d8d8d8;color:#333;}
.jianli_tit{height:30px;background:#666;color:#fff;line-height:30px;padding-left:20px;}
.name{font-size:24px;}
.jianli_txt dl{overflow:hidden;}
.jianli_txt p{line-height:1.8;font-size:14px;}
.jianli_txt p a{color:#00368C;display:inline;}
.jlpart{margin-top:20px;overflow:hidden;clear:both;}
.jltit{padding:6px;border-left:3px solid #666;background:#C9C9C9;color:#333;font-size:14px;font-weight:bold;margin-bottom:10px;overflow:hidden;}
.jlp{margin-top:20px;padding-top:20px;border-top:1px dashed #ccc;}



